<div class="flex justify-end mb-2">
    <app-time-window (changedTimeWindow)="onChangedTimeWindow($event)"></app-time-window>
</div>
<span class="text-gray-800 text-8xl">
    {{ newHireCount }}
</span>