<div class="w-full bg-gray-50 rounded p-5 shadow-md">
    <div class="flex mb-4">
        <div class="flex-1 font-bold">Candidate</div>
        <div class="flex-1 font-bold">Recruiter</div>
        <div class="flex-1 font-bold">Date</div>
        <div class="flex-1 font-bold">Time</div>
    </div>
    <div *ngFor="let interview of upcomingInterviewList" class="flex mb-4">
        <div class="flex-1">
            {{ interview.candidate.firstName }} {{ interview.candidate.lastName }} ({{ interview.candidate.phone }})
        </div>
        <div class="flex-1">
            {{ interview.recruiter.firstName }} {{ interview.recruiter.lastName }} ({{ interview.recruiter.phone }})
        </div>
        <div class="flex-1">
            {{ interview.date }}
        </div>
        <div class="flex-1">
            {{ interview.time }}
        </div>
    </div>
</div>