<div class="flex justify-end mb-2">
    <app-time-window (changedTimeWindow)="onChangedTimeWindow($event)"></app-time-window>
</div>
<div>
    <canvas baseChart class="w-full"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
    </canvas>
</div>
  
