<div class="w-full bg-gradient-to-r from-gray-700 to-gray-800 py-3 px-3">
    <div class="xl:container xl:mx-auto">
        <span class="text-lg font-bold text-gray-100">OPTIV Hiring Dashboard</span>
    </div>
</div>
<div class="xl:container xl:mx-auto flex flex-wrap mt-8">
    <div class="w-full xl:w-1/3 text-center px-2">
      <div class="bg-gray-50 rounded p-5 shadow-md">
        <div class="text-3xl font-semibold text-gray-800 mb-4">Interview Count</div>
        <app-interview-count-chart></app-interview-count-chart>
      </div>
    </div>
    <div class="w-full xl:w-1/3 text-center px-2">
        <div class="bg-gray-50 rounded p-5 shadow-md">
          <div class="text-3xl font-semibold text-gray-800 mb-4">Candidate Quality</div>
          <app-candidate-quality-chart></app-candidate-quality-chart>
        </div>
    </div>
    <div class="w-full xl:w-1/3 text-center px-2">
      <div class="bg-gray-50 rounded p-5 shadow-md">
        <div class="text-3xl font-semibold text-gray-800 mb-4"># New Hires</div>
        <app-new-hire-count></app-new-hire-count>
      </div>
    </div>
</div>

<div class="xl:container xl:mx-auto mt-8">
    <div class="text-lg font-bold text-gray-800 mb-4">Upcoming Interviews</div>
    <app-interview-list></app-interview-list>
</div>