<div class="flex justify-end mb-2">
    <app-time-window (changedTimeWindow)="onChangedTimeWindow($event)"></app-time-window>
</div>
<div style="display: block;">
    <canvas baseChart class="w-full"
        [data]="pieChartData" 
        [labels]="pieChartLabels" 
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend">
    </canvas>
</div>