<div class="text-sm">
    <span class="font-bold">Days</span>: 
    <span *ngFor="let dayCount of days">
        <a (click)="setTimeWindow(dayCount)" class="text-gray-800" 
        [ngClass]="currentSelectedDays == dayCount ? 'underline font-bold text-blue-500' : ''">{{ dayCount }}</a>&nbsp;
    </span> 
</div>
